# === Telegram ===
# Ссылка на бота для пробного периода
NEXT_PUBLIC_TG_BOT_URL=

# Ссылка на канал для футера
NEXT_PUBLIC_TG_CHANNEL_URL=

# === Ссылки на загрузку ===
# Google Play (Android / Android TV)
NEXT_PUBLIC_DL_GOOGLE_PLAY=

# App Store (iOS / iPadOS)
NEXT_PUBLIC_DL_APP_STORE=

# Windows (.exe)
NEXT_PUBLIC_DL_EXE=

# Linux (.AppImage)
NEXT_PUBLIC_DL_APP_IMAGE=

# === Дополнительно ===
# Инструкция по смене региона App Store
NEXT_PUBLIC_CHANGING_REGION=