@import "tailwindcss";

@theme {
  --color-okak-orange: #FF8303;
}

:root {
  /* Светлая тема */
  --background: #FAFAFA;
  --foreground: #0B0B0F;
}

.dark {
  /* Темная тема - глубокий черный, как мы обсуждали */
  --background: #0B0B0F;
  --foreground: #FAFAFA;
}

body {
  background-color: var(--background);
  color: var(--foreground);
  /* Плавный переход фона при смене темы */
  transition: background-color 0.3s ease, color 0.3s ease; 
}