@import "tailwindcss";

/* Учим Tailwind слушаться нашего переключателя на сайте, а не настроек операционной системы */
@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --color-okak-orange: #FF8303;
}

:root {
  /* Идеально белый фон для светлой темы */
  --background: #FFFFFF; 
  --foreground: #000000;
}

.dark {
  /* Глубокий черный фон для темной темы */
  --background: #0B0B0F; 
  --foreground: #FFFFFF;
}

body {
  background-color: var(--background);
  color: var(--foreground);
  transition: background-color 0.3s ease, color 0.3s ease; 
}